section {
	padding:2em;
}

.button {
  margin-bottom:0em;
}

.logo {
	width:auto;
}

.home 
.hero {
	h1 {
		font-size: 105px;
		text-align:left;
		float:none;
		margin: 0;
		span {
			font-size: 145px;

		}
	}
	background:white url('/resources/img/hero_bg.png')no-repeat right top;
	.content {
		background-position:left bottom;
		.span5{
			margin-left:214px;
			text-align: left;

		}
	}
}


.cta {

  div {
    @include rowGrid(4,3%);

  }
}




.jetmenu > li {
  border-right:solid 1px black;

  &:last-child {
    border:0;
  }
}

.mainnav {


	ul{
			a {

				&:hover {
	
				}
			}
		}
	}
.sidebar {
  &.mobile {
    .links {
      @include rowGrid(3,2%);

      border-bottom:0;
      border-right:solid 1px $gray;
      padding-right:1em;
	  	}
	}
}


.footer {
	li {
		display: inline;
		margin-right:1em;
		&:last-child {
			margin-right:0;
		}
	}
}


.newsletter {

    .info {
      width:100%;
      height:100%;
      .contents {
      	padding:0 2em;
      }


    }
 
}


.mainnav {

	ul{

		li {
			a {
				&:hover {
					@include opacity(.5);
				}
			
				
			}
		}
	}
}



