
section {
	padding:2em 0;
}


.sidebar {
  display:block;
  float:left;
  width:25%;
  &.mobile {
    display:none;
  }

}

.main-content {
	.content {
	float:left;
	width:71%;
	margin-left:4%;
}
}

.crumbs {
  margin-left:29% !important
}

.jetmenu ul.dropdown li a{
  width:300px;
  }

  .jetmenu li, .jetmenu ul.dropdown li {
  border-bottom:none;
}



.newsletter {
 padding:2em;

  &:hover {
    .info {
      width:235px;
      height:235px;
      background:rgba(158, 43, 37, 0.87);
      display:table;

      .in {
        display: block;
      }
    }
  }
  .info {
    padding:15px 40px;
    background:$secondary;
    position: absolute;
    top:0;
    left:0;
    width:70%;
    height:auto;
    @include transition ( ( 
      width 0.2s, 
      height .2s .2s,
      display .2s) 
     );
    .contents {
      display:table-cell;
      vertical-align:middle;
      width:100%;
      padding:0;
    }
    .in {
      display:none;
      p {
        color:white;
      }
      .button {
        background:transparent;
        border:solid 2px white;
      }
    }
    .title {


      p{
        color:white;
        font-weight: 400;
        font-size: 18px;
        margin: 0;
        padding: 0;
      }
    }
  }
}



.jetmenu li, .jetmenu ul.dropdown li {
  border-bottom:0;
}

.jetmenu ul.dropdown li li {
  &:first-child {
    border-top:0;
  }
  &:last-child {
    border-bottom:0;
  }
  a {
  background:#757575;
  
}
}