@font-face {
	font-family: 'icomoon';
	src:url('/resources/fonts/icomoon.eot?jfunqk');
	src:url('/resources/fonts/icomoon.eot?#iefixjfunqk') format('embedded-opentype'),
		url('/resources/fonts/icomoon.woff?jfunqk') format('woff'),
		url('/resources/fonts/icomoon.ttf?jfunqk') format('truetype'),
		url('/resources/fonts/icomoon.svg?jfunqk#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ico-"], [class*=" ico-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ico-chevron-right:before {
	content: "\f054";
}
.ico-phone:before {
	content: "\e600";
}
.ico-envelope:before {
	content: "\e601";
}
.ico-bubble:before {
	content: "\e602";
}
.ico-bubbles:before {
	content: "\e603";
}
.ico-user:before {
	content: "\e604";
}
.ico-users:before {
	content: "\e605";
}
.ico-search:before {
	content: "\e606";
}
.ico-facebook:before {
	content: "\e607";
}
.ico-twitter:before {
	content: "\e608";
}
.ico-youtube:before {
	content: "\e609";
}
