/*
NAME: Jet Responsive Megamenu 
AUTHOR PAGE: http://codecanyon.net/user/marcoarib
ITEM PAGE: http://codecanyon.net/item/jet-responsive-megamenu/5719593


/* MENU CONFIGURATION
**********************************************************/
.jetmenu{
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  float: left;
  list-style: none;
  text-align: center;

}

.jetmenu li li {
  text-align: left;
}

.jetmenu li{
  display: inline-block;
  float: left;
}

.jetmenu > li {
  float:left;
  width:100% / 7;
}

.jetmenu a{
  -o-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  outline: none;
  z-index: 10;
}
.jetmenu > li > a{
  text-align:center;

  padding:20px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #999;
  text-decoration: none;
  display: inline-block;
}
.jetmenu > li:hover > a,
.jetmenu > li.active > a{
  color: #555;
}

/* DROPDOWN CONFIGURATION
**********************************************************/
.jetmenu ul.dropdown, 
.jetmenu ul.dropdown li ul.dropdown {
  list-style: none;
    margin: 0;
    padding: 0;   
  display: none;
    position: absolute;
    z-index: 99;
  min-width: 134px;
  background: #333333;
}
.jetmenu ul.dropdown{
    top: 60px;
}
.jetmenu ul.dropdown li ul.dropdown{
    left: 100%;
  top: inherit;
}
.jetmenu ul.dropdown li{
  clear:both;
  width:100%;
  font-size: 12px;

}
.jetmenu ul.dropdown > li a{
  width:100%;
  padding: 12px 24px 12px;
  display:inline-block;
  float:left;
  clear:both;
  font-family: $body;
  text-decoration: none;
  color: #DFDFDF;
  box-sizing:border-box;
  -moz-box-sizing:border-box; 
  -webkit-box-sizing:border-box;
  background: #464646;
}
.jetmenu ul.dropdown li:hover > a{
  background: #747474;
  color: #333333;
}

/* dropdowns to left side */
.jetmenu ul.dropdown li ul.dropdown.left{
    left: auto;
  right: 100%;
}

/* SUBMENU INDICATORS
**********************************************************/
.jetmenu .indicator{
  position: relative;
  left: 5px;
  top: 0;
  font-size: 14px;
  float: right;
}
.jetmenu ul li .indicator{
  font-size: 12px;
  top: 1px;
  left: 10px;
}

/* MEGAMENU
**********************************************************/
.jetmenu > li > .megamenu{
  position: absolute;
  display: none;
  background: #333333;
  width: 25%;
  top: 60px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #999;
  z-index: 99;
  padding: 20px 30px 20px;
  border-top: 1px solid #000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* megamenu list */
.jetmenu li > .megamenu ul{
  margin: 0 0 20px 0;
  float: left;
  padding: 0;
  display: block;
  position: relative;
}
.jetmenu li > .megamenu ul li{
  width: 100%;
  padding: 4px 0;
}
.jetmenu li > .megamenu ul li.title{
  margin: 0 0 8px;
  padding: 0 0 5px;
  font-size: 14px;
  border-bottom: solid 1px #666;
}

/* megamenu h5 */
.jetmenu li > .megamenu h5{
  width: 100%;
  margin: 0;
  padding: 0;
}

/* megamenu links */
.jetmenu li > .megamenu a{
  color: #999;
  text-decoration: none;
  font-size: 12px;
  -webkit-transition: color 0.3s linear; 
  -moz-transition: color 0.3s linear; 
  -o-transition: color 0.3s linear; 
  transition: color 0.3s linear; 
}
.jetmenu li > .megamenu a:hover{
  color: #dedede;
}

/* megamenu images */
.jetmenu  .megamenu img{
  width: 100%;
  -webkit-transition: border 0.3s linear; 
  -moz-transition: border 0.3s linear;
  -o-transition: border 0.3s linear;
  transition: border 0.3s linear;
}

/* to fix right attribute on submenus (menu aligned to left (default)) */
.jetmenu > li.fix-sub > .megamenu,
.jetmenu > li.fix-sub > .megamenu.half-width,
.jetmenu > li.fix-sub > .dropdown{
  right: 0;
}

/* MEGAMENU WIDTHS
**********************************************************/
.jetmenu > li > .megamenu.half-width{
  width: 50%;
}
.jetmenu > li > .megamenu.full-width{
  width: 100%;
  left: 0;
}

/* MEGAMENU FORM CONFIGURATION
**********************************************************/
.jetmenu li > .megamenu form{
  width: 100%;
}

/* megamenu inputs */
.jetmenu li > .megamenu form input[type="text"],
.jetmenu li > .megamenu form textarea{
  padding: 5px;
  color: #999;
  background: #444;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  border: solid 1px transparent;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border 0.3s linear; 
  -moz-transition: border 0.3s linear;
  -o-transition: border 0.3s linear;
  transition: border 0.3s linear;
}
.jetmenu li > .megamenu form input[type="text"]:focus,
.jetmenu li > .megamenu form textarea:focus{
  border-color: #e0e0e0;
}
.jetmenu li > .megamenu form input[type="text"]{
  width: 100%;
  margin-top: 10px;
}
.jetmenu li > .megamenu form textarea{
  width: 100%;
  margin-top: 10px;
}
.jetmenu li > .megamenu form input[type="submit"]{
  width: 25%;
  float: right;
  height: 30px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  background: #444;
  color: #777;
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: background 0.3s linear; 
  -moz-transition: background 0.3s linear; 
  -o-transition: background 0.3s linear; 
  transition: background 0.3s linear; 
}
.jetmenu li > .megamenu form input[type="submit"]:hover{
  background: #e0e0e0;
  color: #555;
}

/* MEGAMENU GRID SYSTEM
**********************************************************/
.megamenu .row-nav{
  width: 100%;
  margin-top: 15px;
}
.megamenu .row-nav:first-child {
  margin-top: 0;
}
.megamenu .row-nav:before,
.megamenu .row-nav:after {
  display: table;
  content: "";
  line-height: 0;
}
.megamenu .row-nav:after {
  clear: both;
}
.megamenu .row-nav .col1,
.megamenu .row-nav .col2,
.megamenu .row-nav .col3,
.megamenu .row-nav .col4,
.megamenu .row-nav .col5,
.megamenu .row-nav .col6{
  display: block;
  width: 100%;
  min-height: 20px;
  float: left;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.megamenu .row-nav [class*="col"]:first-child {
  margin-left: 0;
}
.megamenu .row-nav .col1{
  width: 14.893617021276595%;
}
.megamenu .row-nav .col2{
  width: 31.914893617021278%;
}
.megamenu .row-nav .col3{
  width: 48.93617021276595%;
}
.megamenu .row-nav .col4{
  width: 65.95744680851064%;
}
.megamenu .row-nav .col5{
  width: 82.97872340425532%;
}
.megamenu .row-nav .col6{
  width: 100%;
}

/* RIGHT ALIGNMENT (MENU ITEM)
**********************************************************/
.jetmenu > li.right{
  float: right;
}
.jetmenu > li.right > .megamenu,
.jetmenu > li.right > .megamenu.half-width,
.jetmenu > li.right > .dropdown{
  right: 0;
}

/* to fix right attribute on submenus (menu aligned to right) */
.jetmenu > li.jsright{
  float: right;
}
.jetmenu > li.jsright.last > .megamenu,
.jetmenu > li.jsright.last > .megamenu.half-width,
.jetmenu > li.jsright.last > .dropdown{
  right: 0;
}

/* ICONS (FONT AWESOME)
**********************************************************/
.jetmenu > li > a > i{
  line-height: 23px !important;
  margin-right: 6px;
  font-size: 18px;
  float: left;
}

/* COLLAPSIBLE MENU
**********************************************************/
.jetmenu > li.showhide{
  display: none;
  width: 100%;
  height: 50px;
  cursor: pointer;
  color: #999;
  background: #333;
}
.jetmenu > li.showhide span.title{
  margin: 15px 0 0 25px;
  font-family: 'Open Sans', sans-serif;
  float: left;
}
.jetmenu > li.showhide span.icon{
  margin: 17px 20px;
  float: right;
}
.jetmenu > li.showhide .icon em{
  margin-bottom: 3px;
  display: block;
  width: 20px;
  height: 2px;
  background: #999;
}

/* STYLES
**********************************************************/



/* RESPONSIVE LAYOUT
**********************************************************/
@media (max-width: 768px) {
  .jetmenu > li{
    display: block;
    width: 100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box; 
    -webkit-box-sizing:border-box;
  }
  .jetmenu > li > a{
    padding: 15px 25px;
  }
  .jetmenu a{
    width: 100%;
    background: #333;
    box-sizing:border-box;
    -moz-box-sizing:border-box; 
    -webkit-box-sizing:border-box; 
  }
  .jetmenu ul.dropdown, 
  .jetmenu ul.dropdown li ul.dropdown{
    width: 100% !important;
    left: 0;
    position: static !important;
    border: none;
    box-sizing:border-box;
    -moz-box-sizing:border-box; 
    -webkit-box-sizing:border-box; 
  }
  .jetmenu ul.dropdown li {
    background: #fff !important;
  }
  .jetmenu ul.dropdown > li > a{
    padding-left: 40px !important;
  }
  .jetmenu > li > .megamenu{
    width: 100% !important;
    position: static;
    border-top: none;
  }
  .jetmenu > li > .megamenu .row-nav [class*="col"]{
    float: none;
    display: block;
    width: 100% !important;
    margin-left: 0;
    margin-top: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .jetmenu > li > .megamenu .row-nav:first-child  [class*="col"]:first-child {
    margin-top: 0;
  }
  .jetmenu > li > .megamenu .row-nav{
    margin-top: 0;
  }
  .jetmenu > li > ul.dropdown > li > a{ padding-left: 40px !important; }
  .jetmenu > li > ul.dropdown > li > ul.dropdown > li > a{ padding-left: 60px !important; }
  .jetmenu > li > ul.dropdown > li > ul.dropdown > li > ul.dropdown > li > a{ padding-left: 80px !important; }
}
@media (min-width: 768px) and (max-width: 900px) {
  .jetmenu > li > .megamenu{
    width: 100% !important;
    left: 0 !important;
  }
}

/*
.jetmenu {
  .col2 {
    @include rowGrid(3,2%);
  }
}
*/




























