header {
	z-index: 11;
	width: 100%;
}

.mainnav {
	border-top:solid 1px black;
	border-bottom:solid 1px black;
	
	box-shadow:0 0 20px rgba(0,0,0,.4);
	position: relative;
	z-index:10;
@include transition(all .5s);
	ul{

		li {
			display:inline;

			&:last-child {
				margin:0;
				a {
					border-right:0;
				}
			}
			a {
				display: inline-block;
				color:#DFDFDF;
				
				&:visited {
					color:#DFDFDF;
				}
				
			}
		}
	}
}

.tophat {
	background:#6f1d19 url('/resources/img/tophat_bg.png') no-repeat bottom left;
	background-size:cover;
	.account {
		float:right;
		.button {
			background:white;
			color:$secondary;
			font-size: 12px;
			font-weight: 600;
			padding:.5em 1.5em;
			border:0;
			margin:0;
			display: inline;
			&:before {
				line-height: 2.1;
			}
			&:hover {
				background:rgba(255,255,255,.6);
				&:before {
					left:77%;
				}
			}
		}
		li {
			float:left;
			margin-right:1em;
			a {
				color:white;
			}
			&:last-child{
				margin-right:0;
			}
		}
	}

}


.mnav {
	background:url('/resources/img/nav_bg.jpg') repeat;
	padding:2em 0;
	.trigger {
		float:right;
	}
	
}

#nav {	
		height:100%;
		position: fixed;
		z-index: 12;
		background-color: #292929;
		width: 230px;
		color: #fff;
		font-family: "proxima_nova_light";
		height: 100%;
		-webkit-transform: translateX(-280px);
		-moz-transform: translateX(-280px);
		-ms-transform: translateX(-280px);
		-o-transform: translateX(-280px);
		transform: translateX(-280px);
		-webkit-transition: -webkit-transform 200ms ease-out;
		-moz-transition: -moz-transform 200ms ease-out;
		-o-transition: -o-transform 200ms ease-out;
		transition: transform 200ms ease-out;
		&.open{
			-webkit-transform: translateX(0);
			-moz-transform: translateX(0);
			-ms-transform: translateX(0);
			-o-transform: translateX(0);
			transform: translateX(0);

		}
	}


@media (min-width: 769px) and (max-width: 900px) {
	.jetmenu > li > a {

		font-size: 11px!important;
	}
}


@media (min-width:769px) {
	.mainnav{
	background:url('/resources/img/nav_bg.jpg') repeat;
}
}
