* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

body {
  padding:0;
}
/* RESPONSIVE IMAGES */

img {
  max-width: 100%; // Make images inherently responsive
  height: auto; // Adds support for images whose dimensions are defined inline
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
    width: auto;
  } 
}

/* MAIN */

section {
  padding:2em 1em;;
    
}

.wrap {
  max-width: 940px;
  margin:0 auto;
    &:before, &:after {
      content:"";
      display:table;
    }

    &:after {
      clear:both;
    }

}



/* FOOTER */

/* BUTTON */


.interior {
  .hero {
    height:100%;
    padding:8em;
    background-size:cover;
    background-position:center;
    width:100%;
    border-bottom:0;
  }
  .main-content {
    background:none;
  }
}

.hero {
  height:360px;
  border-bottom:solid 7px $secondary;
  display: table;
  width:100%;
  padding:2em 0 0;
  background-size: auto 100%;
  h1 {
    color:$neutral;
    text-transform: uppercase;
    font-size: 80px;
    line-height: .78;
    font-weight: 800;
    font-family: "HelveticaNeue-CondensedBold";
    margin:0;
    text-align: right;
    margin-bottom:.25em;
    span{
      color:$secondary;
      font-size: 90px;
    }
  }
    .content {
      background-position:-90px bottom;
      background-repeat:no-repeat;
      vertical-align:middle;
      height: 100%;
      .span5 {
        padding:1em;
        text-align: right;
        h1,p,a{
        }
        a {
          display: inline-block;

        }
      }

      p {
        color:$secondary;
        font-weight: 800;
        font-size: 1em;
        line-height: 1;
        margin-bottom:1em;

      }
      .button{
        float:right;
      }
    }
}


.main-content {
  background:url('/resources/img/cta_bg.png')repeat-x top;
  padding-bottom:4em;
}

.cta {
  padding:3em 0;
  div {
    @include rowGrid(2,1%);
    float:left;
    .button {
      padding:10px 5px;
    }
  }
}


.footer {
  background:$brown;
  text-align: center;
  ul {
    margin-bottom: 1em;
    li {

    }
  }
  p {
    font-size: 14px;
  }
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
  background:$secondary;
  color:white;
  box-shadow:0 0 10px rgba(0,0,0,.3);
  

}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  border-color: $secondary;
}

.nav-tabs {
  border-bottom:7px solid $secondary;
  margin-bottom:0;
}


.tab-content {
  min-height:213px;
  box-shadow:0 0 10px rgba(0,0,0,.3);
  .span4 {
    height:220px;
  }
  .span8 {
    padding:1em;
    h3 {
      font-size: 18px;
      margin:0 0 10px 0;
      line-height: 1;
    }
    p {
      font-size: 12px;
      line-height: 1.3;
    }
    .social {
      ul{
        float:left;
        margin:0;
        li {
          display: inline;
          padding:10px;
          color:white;
          @include transition(all .3s);
          &.fb {
            background:#9e9e9e;
            &:hover {
              background:#6084b7;
            }
          }
          &.twitter {
            background:#cccccc;
            &:hover {
              background: #55acee;
            }
          }
          a {
            color:white;
          }

        }
      }
      .button {
        float:right;
        font-size: 12px;
      }
    }
  }
}

.nav-tabs > li > a{
  background:$brown;
  color:white;
  padding:10px 10px;
  border-radius: 15px 15px 0 0;
  &:hover {
    background:$secondary;
  }
}

.button {
  margin-bottom:1em;
}

.right {
  width:50%;
  float:right;
  padding: 0 1em 0 0;
}
.logo {
  width:43%;
  float:left;
}


#share {
  .span4{
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
  }
}


.mainnav.scroll {
  position: fixed;
  top:0;
  width:100%;
  @include opacity(.9);
  &:hover {
    @include opacity(1);
  }
}

.hero.scroll {
  margin-top:60px;
}

.sidebar {
  &.mobile {
    margin-top:2em;
  }
  display:none;
  p {
    font-size: 14px;
  }
  &.mobile {
    display:block;
    .links {
      @include rowGrid(1,2%);
      float:left;

      &:last-child {
        border-right:0;
      }
    }
  }
  
  .links {
    margin-bottom:1em;
    padding:1em 0;
    border-bottom:solid 1px $gray;
    &:last-child {
      border:0;
    }
  }
  h3 {
    font-size: 25px;
    color:$gray;
    font-weight: 100;
    margin-top:0;
  }
  ul {
    li {
      margin-bottom: 1em;
      a {
        font-size: 12px;
        color:#9c9c9c;
        line-height: 1.1;
        font-weight: 800;
        &:hover {
          color:$secondary;
        }
      }
    }
  }
}

.newsletter {
  background:url('/resources/img/newsletter_bg.jpg')no-repeat;
  background-size:cover;
  position: relative;
  height:235px;
  @include transition(all .3s);

  .info {
    width:235px;
      height:235px;
      text-align: center;
      background:rgba(158, 43, 37, 0.87);
      display:table;
    .contents {
      display:table-cell;
      vertical-align:middle;
      width:100%;
    }
    .in {
      display:block;
      p {
        color:white;
      }
      .button {
        background:transparent;
        border:solid 2px white;
      }
    }
    .title {
      

      p{
        color:white;
        font-weight: 400;
        font-size: 18px;
        margin: 0;
        padding: 0;
      }
    }
  }
}

.main-content {
  .content {
    width:100%;
  }
}


.crumbs {
  margin-left:0% !important
}

.account {
  margin:1em 0 0;
}

.jetmenu ul.dropdown li a{
  width:100%; 

}

.jetmenu li, .jetmenu ul.dropdown li {
  border-bottom:solid 1px #292929;
}

.jetmenu ul.dropdown li li {
  &:first-child {
    border-top:solid 1px #292929
  }
  &:last-child {
    border-bottom:0;
  }
  a {
  background:#757575;
  
}
}

.hero {
  .button {
    border:0;
    &:before {
      color:white;
    }
    &:hover {
      background:#AC3832;
      color:white;
    }
  }
}


.module {
  .button {
    margin:0;
  }
}




.desc {display: none;}
.dd-options {
  height:200px;

}

.dd-container, .dd-select, .dd-options {
  width:100% !important;
}

.state {
  padding:1em 0;
}


@media (min-width: 0px) and (max-width: 768px) {
  .jetmenu > li {
  float:left!important;
  }
}