body {
  font: 90%/1.5 $body;
  color: $neutral;
}

/* HEADINGS */

h1, h2, h3, h4, h5 {
  font-family: $heading;
  color: $primary;
}

h1 {
  margin: 0 0 10px 0;

  font-size: 40px;
  font-weight: 400;
  line-height: 1;

  color: $light;
}

.pagetitle {
  font-size: 56px;
  font-weight: 100;
  margin-bottom: .5em;
  .firstword {
    color:$secondary;
    font-weight: 800;
  }
}


h2 {
  color:$secondary;
  font-size: 32px;
  font-weight: 100;
}

/* PARAGRAPH */

p {
  font-family: $body;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 1em;
  color:$primary;
  font-weight: 100;
}

a {
  color:$link;
  @include transition(all .3s);
  text-decoration: none;
  &:hover {
    color:$hover;
    text-decoration: none;
  }
}

/* LISTS */
ul {
  padding:0;
  list-style: none;
}

.cta {
  .button {
    width:100%;
    display: block;
    text-align: center;
    &:before {
      display:none;
    }
  }
}

.button {
  color:white;
  background:$secondary;
  border-radius:40px;
  padding:.75em 1.5em;
  font-weight: 100;
  @include transition(all .3s);
  position: relative;
  margin:1em 0;
  display: inline-block;
  border:solid 3px $secondary;
  &:before{
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1.7;
    content: "\f054";
    position: absolute;
    @include opacity(0);
    right: 2%;
    @include transition(all .3s);
    font-weight: 100;
    color:$secondary;
  }
  &:hover {
    color:$secondary;
    background:transparent;
 
    &:before {
      @include opacity(1);
      right: 6%;
    }
  }
}


.crumbs {
  margin-bottom:2em;
  display:inline-block;
  a {
  color:$primary;
  @include opacity(.6);
  @include transition(all .3s);
  font-weight: 100;
  &:hover {
    @include opacity(1);
  }
}
  span{
    a{
    @include opacity(1);
    color:$secondary;
    font-weight: 800;
  }
  }
}