// COLOR PALETTE
$primary: #545454;
$secondary: #9e2b25;
$hover: #505050;
$neutral: #96794b;
$light: #c3b59d;
$highlight: #306DB1;
$ultralight: #537FB1;
$link: #9e2b25;
$brown: #c3b59d;
$gray: #545454;

// FONT STACKS
$heading: Helvetica, Arial, sans-serif;
$body: Helvetica, Arial, sans-serif;