/* Fluid Grid
-----------------
*/
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* line 18, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 19, ../sass/_reset.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 20, ../sass/_reset.scss */
audio:not([controls]) {
  display: none;
}

/* line 21, ../sass/_reset.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
/* line 33, ../sass/_reset.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 35, ../sass/_reset.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* line 37, ../sass/_reset.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
/* =============================================================================
   Links
   ========================================================================== */
/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
/* line 54, ../sass/_reset.scss */
a:hover, a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/* line 61, ../sass/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 63, ../sass/_reset.scss */
b, strong {
  font-weight: bold;
}

/* line 65, ../sass/_reset.scss */
blockquote {
  margin: 1em 40px;
}

/* line 67, ../sass/_reset.scss */
dfn {
  font-style: italic;
}

/* line 69, ../sass/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 71, ../sass/_reset.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 73, ../sass/_reset.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* Redeclare monospace font family: h5bp.com/j */
/* line 76, ../sass/_reset.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
/* line 79, ../sass/_reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 81, ../sass/_reset.scss */
q {
  quotes: none;
}

/* line 82, ../sass/_reset.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 84, ../sass/_reset.scss */
small {
  font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
/* line 87, ../sass/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 88, ../sass/_reset.scss */
sup {
  top: -0.5em;
}

/* line 89, ../sass/_reset.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/* line 96, ../sass/_reset.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 97, ../sass/_reset.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 98, ../sass/_reset.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
/* line 110, ../sass/_reset.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/*
 * Correct overflow not hidden in IE9
 */
/* line 116, ../sass/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/* line 123, ../sass/_reset.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/* line 130, ../sass/_reset.scss */
form {
  margin: 0;
}

/* line 131, ../sass/_reset.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
/* line 134, ../sass/_reset.scss */
label {
  cursor: pointer;
}

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
/* line 141, ../sass/_reset.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
/* line 149, ../sass/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
/* line 155, ../sass/_reset.scss */
button, input {
  line-height: normal;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
/* line 163, ../sass/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 169, ../sass/_reset.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/*
 * Consistent box sizing and appearance
 */
/* line 175, ../sass/_reset.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 176, ../sass/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 177, ../sass/_reset.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
/* line 183, ../sass/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
/* line 190, ../sass/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Colors for form validity */
/* line 194, ../sass/_reset.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* =============================================================================
   Tables
   ========================================================================== */
/* line 201, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 202, ../sass/_reset.scss */
td {
  vertical-align: top;
}

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
/* line 210, ../sass/_reset.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

/* line 211, ../sass/_reset.scss */
.ir br {
  display: none;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
/* line 214, ../sass/_reset.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
/* line 217, ../sass/_reset.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
/* line 220, ../sass/_reset.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 223, ../sass/_reset.scss */
.invisible {
  visibility: hidden;
}

/* Contain floats: h5bp.com/q */
/* line 226, ../sass/_reset.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 227, ../sass/_reset.scss */
.clearfix:after {
  clear: both;
}

/* line 228, ../sass/_reset.scss */
.clearfix {
  *zoom: 1;
}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 236, ../sass/_reset.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 237, ../sass/_reset.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 238, ../sass/_reset.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 239, ../sass/_reset.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 240, ../sass/_reset.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 241, ../sass/_reset.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 242, ../sass/_reset.scss */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 243, ../sass/_reset.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 244, ../sass/_reset.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 246, ../sass/_reset.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 247, ../sass/_reset.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 20, ../sass/_grid.scss */
body {
  width: 100%;
  float: left;
}

/* line 1, ../sass/_typography.scss */
body {
  font: 90%/1.5 Helvetica, Arial, sans-serif;
  color: #96794b;
}

/* HEADINGS */
/* line 8, ../sass/_typography.scss */
h1, h2, h3, h4, h5 {
  font-family: Helvetica, Arial, sans-serif;
  color: #545454;
}

/* line 13, ../sass/_typography.scss */
h1 {
  margin: 0 0 10px 0;
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
  color: #c3b59d;
}

/* line 23, ../sass/_typography.scss */
.pagetitle {
  font-size: 56px;
  font-weight: 100;
  margin-bottom: .5em;
}
/* line 27, ../sass/_typography.scss */
.pagetitle .firstword {
  color: #9e2b25;
  font-weight: 800;
}

/* line 34, ../sass/_typography.scss */
h2 {
  color: #9e2b25;
  font-size: 32px;
  font-weight: 100;
}

/* PARAGRAPH */
/* line 42, ../sass/_typography.scss */
p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 1em;
  color: #545454;
  font-weight: 100;
}

/* line 51, ../sass/_typography.scss */
a {
  color: #9e2b25;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}
/* line 55, ../sass/_typography.scss */
a:hover {
  color: #505050;
  text-decoration: none;
}

/* LISTS */
/* line 62, ../sass/_typography.scss */
ul {
  padding: 0;
  list-style: none;
}

/* line 68, ../sass/_typography.scss */
.cta .button {
  width: 100%;
  display: block;
  text-align: center;
}
/* line 72, ../sass/_typography.scss */
.cta .button:before {
  display: none;
}

/* line 78, ../sass/_typography.scss */
.button {
  color: white;
  background: #9e2b25;
  border-radius: 40px;
  padding: .75em 1.5em;
  font-weight: 100;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  margin: 1em 0;
  display: inline-block;
  border: solid 3px #9e2b25;
}
/* line 89, ../sass/_typography.scss */
.button:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1.7;
  content: "\f054";
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
  right: 2%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 100;
  color: #9e2b25;
}
/* line 105, ../sass/_typography.scss */
.button:hover {
  color: #9e2b25;
  background: transparent;
}
/* line 109, ../sass/_typography.scss */
.button:hover:before {
  opacity: 1;
  filter: alpha(opacity=1);
  right: 6%;
}

/* line 117, ../sass/_typography.scss */
.crumbs {
  margin-bottom: 2em;
  display: inline-block;
}
/* line 120, ../sass/_typography.scss */
.crumbs a {
  color: #545454;
  opacity: 0.6;
  filter: alpha(opacity=0.6);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 100;
}
/* line 125, ../sass/_typography.scss */
.crumbs a:hover {
  opacity: 1;
  filter: alpha(opacity=1);
}
/* line 130, ../sass/_typography.scss */
.crumbs span a {
  opacity: 1;
  filter: alpha(opacity=1);
  color: #9e2b25;
  font-weight: 800;
}

@font-face {
  font-family: 'icomoon';
  src: url("/resources/fonts/icomoon.eot?jfunqk");
  src: url("/resources/fonts/icomoon.eot?#iefixjfunqk") format("embedded-opentype"), url("/resources/fonts/icomoon.woff?jfunqk") format("woff"), url("/resources/fonts/icomoon.ttf?jfunqk") format("truetype"), url("/resources/fonts/icomoon.svg?jfunqk#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 12, ../sass/_fontstacks.scss */
[class^="ico-"], [class*=" ico-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, ../sass/_fontstacks.scss */
.ico-chevron-right:before {
  content: "\f054";
}

/* line 29, ../sass/_fontstacks.scss */
.ico-phone:before {
  content: "\e600";
}

/* line 32, ../sass/_fontstacks.scss */
.ico-envelope:before {
  content: "\e601";
}

/* line 35, ../sass/_fontstacks.scss */
.ico-bubble:before {
  content: "\e602";
}

/* line 38, ../sass/_fontstacks.scss */
.ico-bubbles:before {
  content: "\e603";
}

/* line 41, ../sass/_fontstacks.scss */
.ico-user:before {
  content: "\e604";
}

/* line 44, ../sass/_fontstacks.scss */
.ico-users:before {
  content: "\e605";
}

/* line 47, ../sass/_fontstacks.scss */
.ico-search:before {
  content: "\e606";
}

/* line 50, ../sass/_fontstacks.scss */
.ico-facebook:before {
  content: "\e607";
}

/* line 53, ../sass/_fontstacks.scss */
.ico-twitter:before {
  content: "\e608";
}

/* line 56, ../sass/_fontstacks.scss */
.ico-youtube:before {
  content: "\e609";
}

/* line 1, ../sass/_navigation.scss */
header {
  z-index: 11;
  width: 100%;
}

/* line 6, ../sass/_navigation.scss */
.mainnav {
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 10;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 16, ../sass/_navigation.scss */
.mainnav ul li {
  display: inline;
}
/* line 19, ../sass/_navigation.scss */
.mainnav ul li:last-child {
  margin: 0;
}
/* line 21, ../sass/_navigation.scss */
.mainnav ul li:last-child a {
  border-right: 0;
}
/* line 25, ../sass/_navigation.scss */
.mainnav ul li a {
  display: inline-block;
  color: #DFDFDF;
}
/* line 29, ../sass/_navigation.scss */
.mainnav ul li a:visited {
  color: #DFDFDF;
}

/* line 38, ../sass/_navigation.scss */
.tophat {
  background: #6f1d19 url("/resources/img/tophat_bg.png") no-repeat bottom left;
  background-size: cover;
}
/* line 41, ../sass/_navigation.scss */
.tophat .account {
  float: right;
}
/* line 43, ../sass/_navigation.scss */
.tophat .account .button {
  background: white;
  color: #9e2b25;
  font-size: 12px;
  font-weight: 600;
  padding: .5em 1.5em;
  border: 0;
  margin: 0;
  display: inline;
}
/* line 52, ../sass/_navigation.scss */
.tophat .account .button:before {
  line-height: 2.1;
}
/* line 55, ../sass/_navigation.scss */
.tophat .account .button:hover {
  background: rgba(255, 255, 255, 0.6);
}
/* line 57, ../sass/_navigation.scss */
.tophat .account .button:hover:before {
  left: 77%;
}
/* line 62, ../sass/_navigation.scss */
.tophat .account li {
  float: left;
  margin-right: 1em;
}
/* line 65, ../sass/_navigation.scss */
.tophat .account li a {
  color: white;
}
/* line 68, ../sass/_navigation.scss */
.tophat .account li:last-child {
  margin-right: 0;
}

/* line 77, ../sass/_navigation.scss */
.mnav {
  background: url("/resources/img/nav_bg.jpg") repeat;
  padding: 2em 0;
}
/* line 80, ../sass/_navigation.scss */
.mnav .trigger {
  float: right;
}

/* line 86, ../sass/_navigation.scss */
#nav {
  height: 100%;
  position: fixed;
  z-index: 12;
  background-color: #292929;
  width: 230px;
  color: #fff;
  font-family: "proxima_nova_light";
  height: 100%;
  -webkit-transform: translateX(-280px);
  -moz-transform: translateX(-280px);
  -ms-transform: translateX(-280px);
  -o-transform: translateX(-280px);
  transform: translateX(-280px);
  -webkit-transition: -webkit-transform 200ms ease-out;
  -moz-transition: -moz-transform 200ms ease-out;
  -o-transition: -o-transform 200ms ease-out;
  transition: transform 200ms ease-out;
}
/* line 104, ../sass/_navigation.scss */
#nav.open {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

@media (min-width: 769px) and (max-width: 900px) {
  /* line 116, ../sass/_navigation.scss */
  .jetmenu > li > a {
    font-size: 11px !important;
  }
}
@media (min-width: 769px) {
  /* line 124, ../sass/_navigation.scss */
  .mainnav {
    background: url("/resources/img/nav_bg.jpg") repeat;
  }
}
/* Animations */
/* line 3, ../sass/_animations.scss */
.left-fast {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: left-fast;
  -moz-animation-name: left-fast;
  animation-name: left-fast;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 8, ../sass/_animations.scss */
.right-fast {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: right-fast;
  -moz-animation-name: right-fast;
  animation-name: right-fast;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 12, ../sass/_animations.scss */
.roll-in-left {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: roll-in-left;
  -moz-animation-name: roll-in-left;
  animation-name: roll-in-left;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 16, ../sass/_animations.scss */
.up {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: up;
  -moz-animation-name: up;
  animation-name: up;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 20, ../sass/_animations.scss */
.down {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: down;
  -moz-animation-name: down;
  animation-name: down;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 24, ../sass/_animations.scss */
.fade-in {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: fade-in;
  -moz-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 28, ../sass/_animations.scss */
.delay {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* line 32, ../sass/_animations.scss */
.delay2 {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

/* KEYFRAMES */
@-webkit-keyframes left-fast {
  /* line 43, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: 100px;
    -moz-translateX: 100px;
    translateX: 100px;
  }

  /* line 44, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@-moz-keyframes left-fast {
  /* line 43, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: 100px;
    -moz-translateX: 100px;
    translateX: 100px;
  }

  /* line 44, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@-o-keyframes left-fast {
  /* line 43, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: 100px;
    -moz-translateX: 100px;
    translateX: 100px;
  }

  /* line 44, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@keyframes left-fast {
  /* line 43, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: 100px;
    -moz-translateX: 100px;
    translateX: 100px;
  }

  /* line 44, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@-webkit-keyframes right-fast {
  /* line 48, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: -100px;
    -moz-translateX: -100px;
    translateX: -100px;
  }

  /* line 49, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@-moz-keyframes right-fast {
  /* line 48, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: -100px;
    -moz-translateX: -100px;
    translateX: -100px;
  }

  /* line 49, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@-o-keyframes right-fast {
  /* line 48, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: -100px;
    -moz-translateX: -100px;
    translateX: -100px;
  }

  /* line 49, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@keyframes right-fast {
  /* line 48, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: -100px;
    -moz-translateX: -100px;
    translateX: -100px;
  }

  /* line 49, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@-webkit-keyframes roll-in-left {
  /* line 53, ../sass/_animations.scss */
  0% {
    opacity: 0;
    margin-left: -500px;
    -webkit-transform: rotateX(550deg);
  }

  /* line 54, ../sass/_animations.scss */
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes up {
  /* line 58, ../sass/_animations.scss */
  0% {
    bottom: -185px;
  }

  /* line 59, ../sass/_animations.scss */
  100% {
    bottom: 0px;
  }
}

@-moz-keyframes up {
  /* line 58, ../sass/_animations.scss */
  0% {
    bottom: -185px;
  }

  /* line 59, ../sass/_animations.scss */
  100% {
    bottom: 0px;
  }
}

@-o-keyframes up {
  /* line 58, ../sass/_animations.scss */
  0% {
    bottom: -185px;
  }

  /* line 59, ../sass/_animations.scss */
  100% {
    bottom: 0px;
  }
}

@keyframes up {
  /* line 58, ../sass/_animations.scss */
  0% {
    bottom: -185px;
  }

  /* line 59, ../sass/_animations.scss */
  100% {
    bottom: 0px;
  }
}

@-webkit-keyframes down {
  /* line 63, ../sass/_animations.scss */
  0% {
    bottom: 0px;
  }

  /* line 64, ../sass/_animations.scss */
  100% {
    bottom: -185px;
  }
}

@-moz-keyframes down {
  /* line 63, ../sass/_animations.scss */
  0% {
    bottom: 0px;
  }

  /* line 64, ../sass/_animations.scss */
  100% {
    bottom: -185px;
  }
}

@-o-keyframes down {
  /* line 63, ../sass/_animations.scss */
  0% {
    bottom: 0px;
  }

  /* line 64, ../sass/_animations.scss */
  100% {
    bottom: -185px;
  }
}

@keyframes down {
  /* line 63, ../sass/_animations.scss */
  0% {
    bottom: 0px;
  }

  /* line 64, ../sass/_animations.scss */
  100% {
    bottom: -185px;
  }
}

@-webkit-keyframes fade-in {
  /* line 69, ../sass/_animations.scss */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  /* line 70, ../sass/_animations.scss */
  100% {
    opacity: 1;
    filter: alpha(opacity=1);
  }
}

@-moz-keyframes fade-in {
  /* line 69, ../sass/_animations.scss */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  /* line 70, ../sass/_animations.scss */
  100% {
    opacity: 1;
    filter: alpha(opacity=1);
  }
}

@-o-keyframes fade-in {
  /* line 69, ../sass/_animations.scss */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  /* line 70, ../sass/_animations.scss */
  100% {
    opacity: 1;
    filter: alpha(opacity=1);
  }
}

@keyframes fade-in {
  /* line 69, ../sass/_animations.scss */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  /* line 70, ../sass/_animations.scss */
  100% {
    opacity: 1;
    filter: alpha(opacity=1);
  }
}

/* SENCHA ANIMATIONS */
/* Contact Form */
/* line 2, ../sass/_forms.scss */
.main-form {
  position: relative;
}

/* line 7, ../sass/_forms.scss */
.main-form:before,
.main-form:after {
  content: " ";
  display: table;
}

/* line 11, ../sass/_forms.scss */
.main-form:after {
  clear: both;
}

/* line 15, ../sass/_forms.scss */
.main-form label {
  display: block;
  padding: 10px 5px 5px 2px;
  font-size: 1.1em;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
  color: #545454;
}

/* line 27, ../sass/_forms.scss */
.main-form input,
.main-form textarea,
.main-form select {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 18px;
  padding: 2px 10px;
  color: #545454;
  display: block;
  width: 100%;
  background: #ebebeb;
}

/* line 39, ../sass/_forms.scss */
.main-form input,
.main-form textarea {
  border: 0px;
  border-radius: 0 !important;
  padding: 1em;
  box-shadow: none;
}

/* line 46, ../sass/_forms.scss */
.main-form textarea {
  min-height: 200px;
}

/* line 53, ../sass/_forms.scss */
.main-form input:focus,
.main-form textarea:focus,
.main-form label:active + input,
.main-form label:active + textarea {
  outline: none;
  border: 1px solid #545454;
}

/* line 58, ../sass/_forms.scss */
.main-form select:focus {
  outline: none;
}

/* line 62, ../sass/_forms.scss */
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #10689a;
  font-style: italic;
}

/* line 67, ../sass/_forms.scss */
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #10689a;
  font-style: italic;
}

/* line 72, ../sass/_forms.scss */
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #10689a;
  font-style: italic;
}

/* line 77, ../sass/_forms.scss */
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #10689a;
  font-style: italic;
}

/* line 82, ../sass/_forms.scss */
.cbp-mc-submit-wrap {
  text-align: center;
  padding-top: 40px;
  clear: both;
}

/* line 88, ../sass/_forms.scss */
.main-form span.cbp-mc-submit {
  cursor: pointer;
  margin: 1em 0;
  border-radius: 40px !important;
  display: inline-block;
  font-weight: 100;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  color: white;
  width: auto;
}
/* line 89, ../sass/_forms.scss */
.main-form span.cbp-mc-submit input {
  color: white;
  background: #9e2b25;
  padding: .5em 1.75em;
  display: inline-block;
  border-radius: 40px !important;
}
/* line 95, ../sass/_forms.scss */
.main-form span.cbp-mc-submit input:hover {
  background: #ac4641;
}
/* line 110, ../sass/_forms.scss */
.main-form span.cbp-mc-submit:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 3.3;
  content: "\f054";
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
  left: 70%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 100;
}
/* line 125, ../sass/_forms.scss */
.main-form span.cbp-mc-submit:hover {
  color: white;
  background: #ac4641;
}
/* line 129, ../sass/_forms.scss */
.main-form span.cbp-mc-submit:hover:before {
  opacity: 1;
  filter: alpha(opacity=1);
  left: 87%;
}

/* line 137, ../sass/_forms.scss */
.main-form input.cbp-mc-submit:hover {
  background: #9e2b25;
}

/* line 141, ../sass/_forms.scss */
#nospam, .nospam {
  display: none;
}

/* line 145, ../sass/_forms.scss */
.thumbs {
  width: 47%;
  margin: 1%;
  float: left;
}
/* line 149, ../sass/_forms.scss */
.thumbs img {
  width: 100%;
}

/* line 1, ../sass/_smallest.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../sass/_smallest.scss */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 13, ../sass/_smallest.scss */
.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 21, ../sass/_smallest.scss */
.cf {
  *zoom: 1;
}

/* line 25, ../sass/_smallest.scss */
body {
  padding: 0;
}

/* RESPONSIVE IMAGES */
/* line 30, ../sass/_smallest.scss */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/* line 37, ../sass/_smallest.scss */
.lt-ie9 img {
  width: auto;
}

/* MAIN */
/* line 44, ../sass/_smallest.scss */
section {
  padding: 2em 1em;
}

/* line 49, ../sass/_smallest.scss */
.wrap {
  max-width: 940px;
  margin: 0 auto;
}
/* line 52, ../sass/_smallest.scss */
.wrap:before, .wrap:after {
  content: "";
  display: table;
}
/* line 57, ../sass/_smallest.scss */
.wrap:after {
  clear: both;
}

/* FOOTER */
/* BUTTON */
/* line 71, ../sass/_smallest.scss */
.interior .hero {
  height: 100%;
  padding: 8em;
  background-size: cover;
  background-position: center;
  width: 100%;
  border-bottom: 0;
}
/* line 79, ../sass/_smallest.scss */
.interior .main-content {
  background: none;
}

/* line 84, ../sass/_smallest.scss */
.hero {
  height: 360px;
  border-bottom: solid 7px #9e2b25;
  display: table;
  width: 100%;
  padding: 2em 0 0;
  background-size: auto 100%;
}
/* line 91, ../sass/_smallest.scss */
.hero h1 {
  color: #96794b;
  text-transform: uppercase;
  font-size: 80px;
  line-height: .78;
  font-weight: 800;
  font-family: "HelveticaNeue-CondensedBold";
  margin: 0;
  text-align: right;
  margin-bottom: .25em;
}
/* line 101, ../sass/_smallest.scss */
.hero h1 span {
  color: #9e2b25;
  font-size: 90px;
}
/* line 106, ../sass/_smallest.scss */
.hero .content {
  background-position: -90px bottom;
  background-repeat: no-repeat;
  vertical-align: middle;
  height: 100%;
}
/* line 111, ../sass/_smallest.scss */
.hero .content .span5 {
  padding: 1em;
  text-align: right;
}
/* line 116, ../sass/_smallest.scss */
.hero .content .span5 a {
  display: inline-block;
}
/* line 122, ../sass/_smallest.scss */
.hero .content p {
  color: #9e2b25;
  font-weight: 800;
  font-size: 1em;
  line-height: 1;
  margin-bottom: 1em;
}
/* line 130, ../sass/_smallest.scss */
.hero .content .button {
  float: right;
}

/* line 137, ../sass/_smallest.scss */
.main-content {
  background: url("/resources/img/cta_bg.png") repeat-x top;
  padding-bottom: 4em;
}

/* line 142, ../sass/_smallest.scss */
.cta {
  padding: 3em 0;
}
/* line 144, ../sass/_smallest.scss */
.cta div {
  width: 49.5%;
  float: left;
}
/* line 326, ../sass/_mixins.scss */
.cta div:nth-child(n) {
  margin-bottom: 1%;
  margin-right: 1%;
}
/* line 330, ../sass/_mixins.scss */
.cta div:nth-child(2n) {
  margin-right: 0;
  margin-bottom: 0;
}
/* line 147, ../sass/_smallest.scss */
.cta div .button {
  padding: 10px 5px;
}

/* line 154, ../sass/_smallest.scss */
.footer {
  background: #c3b59d;
  text-align: center;
}
/* line 157, ../sass/_smallest.scss */
.footer ul {
  margin-bottom: 1em;
}
/* line 163, ../sass/_smallest.scss */
.footer p {
  font-size: 14px;
}

/* line 168, ../sass/_smallest.scss */
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
  background: #9e2b25;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* line 176, ../sass/_smallest.scss */
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  border-color: #9e2b25;
}

/* line 180, ../sass/_smallest.scss */
.nav-tabs {
  border-bottom: 7px solid #9e2b25;
  margin-bottom: 0;
}

/* line 186, ../sass/_smallest.scss */
.tab-content {
  min-height: 213px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
/* line 189, ../sass/_smallest.scss */
.tab-content .span4 {
  height: 220px;
}
/* line 192, ../sass/_smallest.scss */
.tab-content .span8 {
  padding: 1em;
}
/* line 194, ../sass/_smallest.scss */
.tab-content .span8 h3 {
  font-size: 18px;
  margin: 0 0 10px 0;
  line-height: 1;
}
/* line 199, ../sass/_smallest.scss */
.tab-content .span8 p {
  font-size: 12px;
  line-height: 1.3;
}
/* line 204, ../sass/_smallest.scss */
.tab-content .span8 .social ul {
  float: left;
  margin: 0;
}
/* line 207, ../sass/_smallest.scss */
.tab-content .span8 .social ul li {
  display: inline;
  padding: 10px;
  color: white;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 212, ../sass/_smallest.scss */
.tab-content .span8 .social ul li.fb {
  background: #9e9e9e;
}
/* line 214, ../sass/_smallest.scss */
.tab-content .span8 .social ul li.fb:hover {
  background: #6084b7;
}
/* line 218, ../sass/_smallest.scss */
.tab-content .span8 .social ul li.twitter {
  background: #cccccc;
}
/* line 220, ../sass/_smallest.scss */
.tab-content .span8 .social ul li.twitter:hover {
  background: #55acee;
}
/* line 224, ../sass/_smallest.scss */
.tab-content .span8 .social ul li a {
  color: white;
}
/* line 230, ../sass/_smallest.scss */
.tab-content .span8 .social .button {
  float: right;
  font-size: 12px;
}

/* line 238, ../sass/_smallest.scss */
.nav-tabs > li > a {
  background: #c3b59d;
  color: white;
  padding: 10px 10px;
  border-radius: 15px 15px 0 0;
}
/* line 243, ../sass/_smallest.scss */
.nav-tabs > li > a:hover {
  background: #9e2b25;
}

/* line 248, ../sass/_smallest.scss */
.button {
  margin-bottom: 1em;
}

/* line 252, ../sass/_smallest.scss */
.right {
  width: 50%;
  float: right;
  padding: 0 1em 0 0;
}

/* line 257, ../sass/_smallest.scss */
.logo {
  width: 43%;
  float: left;
}

/* line 264, ../sass/_smallest.scss */
#share .span4 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 272, ../sass/_smallest.scss */
.mainnav.scroll {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  filter: alpha(opacity=0.9);
}
/* line 277, ../sass/_smallest.scss */
.mainnav.scroll:hover {
  opacity: 1;
  filter: alpha(opacity=1);
}

/* line 282, ../sass/_smallest.scss */
.hero.scroll {
  margin-top: 60px;
}

/* line 286, ../sass/_smallest.scss */
.sidebar {
  display: none;
}
/* line 287, ../sass/_smallest.scss */
.sidebar.mobile {
  margin-top: 2em;
}
/* line 291, ../sass/_smallest.scss */
.sidebar p {
  font-size: 14px;
}
/* line 294, ../sass/_smallest.scss */
.sidebar.mobile {
  display: block;
}
/* line 296, ../sass/_smallest.scss */
.sidebar.mobile .links {
  width: 100%;
  float: left;
}
/* line 326, ../sass/_mixins.scss */
.sidebar.mobile .links:nth-child(n) {
  margin-bottom: 2%;
  margin-right: 2%;
}
/* line 330, ../sass/_mixins.scss */
.sidebar.mobile .links:nth-child(1n) {
  margin-right: 0;
  margin-bottom: 0;
}
/* line 300, ../sass/_smallest.scss */
.sidebar.mobile .links:last-child {
  border-right: 0;
}
/* line 306, ../sass/_smallest.scss */
.sidebar .links {
  margin-bottom: 1em;
  padding: 1em 0;
  border-bottom: solid 1px #545454;
}
/* line 310, ../sass/_smallest.scss */
.sidebar .links:last-child {
  border: 0;
}
/* line 314, ../sass/_smallest.scss */
.sidebar h3 {
  font-size: 25px;
  color: #545454;
  font-weight: 100;
  margin-top: 0;
}
/* line 321, ../sass/_smallest.scss */
.sidebar ul li {
  margin-bottom: 1em;
}
/* line 323, ../sass/_smallest.scss */
.sidebar ul li a {
  font-size: 12px;
  color: #9c9c9c;
  line-height: 1.1;
  font-weight: 800;
}
/* line 328, ../sass/_smallest.scss */
.sidebar ul li a:hover {
  color: #9e2b25;
}

/* line 336, ../sass/_smallest.scss */
.newsletter {
  background: url("/resources/img/newsletter_bg.jpg") no-repeat;
  background-size: cover;
  position: relative;
  height: 235px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 343, ../sass/_smallest.scss */
.newsletter .info {
  width: 235px;
  height: 235px;
  text-align: center;
  background: rgba(158, 43, 37, 0.87);
  display: table;
}
/* line 349, ../sass/_smallest.scss */
.newsletter .info .contents {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
/* line 354, ../sass/_smallest.scss */
.newsletter .info .in {
  display: block;
}
/* line 356, ../sass/_smallest.scss */
.newsletter .info .in p {
  color: white;
}
/* line 359, ../sass/_smallest.scss */
.newsletter .info .in .button {
  background: transparent;
  border: solid 2px white;
}
/* line 367, ../sass/_smallest.scss */
.newsletter .info .title p {
  color: white;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

/* line 379, ../sass/_smallest.scss */
.main-content .content {
  width: 100%;
}

/* line 385, ../sass/_smallest.scss */
.crumbs {
  margin-left: 0% !important;
}

/* line 389, ../sass/_smallest.scss */
.account {
  margin: 1em 0 0;
}

/* line 393, ../sass/_smallest.scss */
.jetmenu ul.dropdown li a {
  width: 100%;
}

/* line 398, ../sass/_smallest.scss */
.jetmenu li, .jetmenu ul.dropdown li {
  border-bottom: solid 1px #292929;
}

/* line 403, ../sass/_smallest.scss */
.jetmenu ul.dropdown li li:first-child {
  border-top: solid 1px #292929;
}
/* line 406, ../sass/_smallest.scss */
.jetmenu ul.dropdown li li:last-child {
  border-bottom: 0;
}
/* line 409, ../sass/_smallest.scss */
.jetmenu ul.dropdown li li a {
  background: #757575;
}

/* line 416, ../sass/_smallest.scss */
.hero .button {
  border: 0;
}
/* line 418, ../sass/_smallest.scss */
.hero .button:before {
  color: white;
}
/* line 421, ../sass/_smallest.scss */
.hero .button:hover {
  background: #AC3832;
  color: white;
}

/* line 430, ../sass/_smallest.scss */
.module .button {
  margin: 0;
}

/* line 438, ../sass/_smallest.scss */
.desc {
  display: none;
}

/* line 439, ../sass/_smallest.scss */
.dd-options {
  height: 200px;
}

/* line 444, ../sass/_smallest.scss */
.dd-container, .dd-select, .dd-options {
  width: 100% !important;
}

/* line 448, ../sass/_smallest.scss */
.state {
  padding: 1em 0;
}

@media (min-width: 0px) and (max-width: 768px) {
  /* line 454, ../sass/_smallest.scss */
  .jetmenu > li {
    float: left !important;
  }
}
/*
NAME: Jet Responsive Megamenu 
AUTHOR PAGE: http://codecanyon.net/user/marcoarib
ITEM PAGE: http://codecanyon.net/item/jet-responsive-megamenu/5719593


/* MENU CONFIGURATION
**********************************************************/
/* line 9, ../sass/_mega_responsive.scss */
.jetmenu {
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  float: left;
  list-style: none;
  text-align: center;
}

/* line 20, ../sass/_mega_responsive.scss */
.jetmenu li li {
  text-align: left;
}

/* line 24, ../sass/_mega_responsive.scss */
.jetmenu li {
  display: inline-block;
  float: left;
}

/* line 29, ../sass/_mega_responsive.scss */
.jetmenu > li {
  float: left;
  width: 100% / 7;
}

/* line 34, ../sass/_mega_responsive.scss */
.jetmenu a {
  -o-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  outline: none;
  z-index: 10;
}

/* line 42, ../sass/_mega_responsive.scss */
.jetmenu > li > a {
  text-align: center;
  padding: 20px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #999;
  text-decoration: none;
  display: inline-block;
}

/* line 53, ../sass/_mega_responsive.scss */
.jetmenu > li:hover > a,
.jetmenu > li.active > a {
  color: #555;
}

/* DROPDOWN CONFIGURATION
**********************************************************/
/* line 60, ../sass/_mega_responsive.scss */
.jetmenu ul.dropdown,
.jetmenu ul.dropdown li ul.dropdown {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  z-index: 99;
  min-width: 134px;
  background: #333333;
}

/* line 70, ../sass/_mega_responsive.scss */
.jetmenu ul.dropdown {
  top: 60px;
}

/* line 73, ../sass/_mega_responsive.scss */
.jetmenu ul.dropdown li ul.dropdown {
  left: 100%;
  top: inherit;
}

/* line 77, ../sass/_mega_responsive.scss */
.jetmenu ul.dropdown li {
  clear: both;
  width: 100%;
  font-size: 12px;
}

/* line 83, ../sass/_mega_responsive.scss */
.jetmenu ul.dropdown > li a {
  width: 100%;
  padding: 12px 24px 12px;
  display: inline-block;
  float: left;
  clear: both;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #DFDFDF;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: #464646;
}

/* line 97, ../sass/_mega_responsive.scss */
.jetmenu ul.dropdown li:hover > a {
  background: #747474;
  color: #333333;
}

/* dropdowns to left side */
/* line 103, ../sass/_mega_responsive.scss */
.jetmenu ul.dropdown li ul.dropdown.left {
  left: auto;
  right: 100%;
}

/* SUBMENU INDICATORS
**********************************************************/
/* line 110, ../sass/_mega_responsive.scss */
.jetmenu .indicator {
  position: relative;
  left: 5px;
  top: 0;
  font-size: 14px;
  float: right;
}

/* line 117, ../sass/_mega_responsive.scss */
.jetmenu ul li .indicator {
  font-size: 12px;
  top: 1px;
  left: 10px;
}

/* MEGAMENU
**********************************************************/
/* line 125, ../sass/_mega_responsive.scss */
.jetmenu > li > .megamenu {
  position: absolute;
  display: none;
  background: #333333;
  width: 25%;
  top: 60px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #999;
  z-index: 99;
  padding: 20px 30px 20px;
  border-top: 1px solid #000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* megamenu list */
/* line 143, ../sass/_mega_responsive.scss */
.jetmenu li > .megamenu ul {
  margin: 0 0 20px 0;
  float: left;
  padding: 0;
  display: block;
  position: relative;
}

/* line 150, ../sass/_mega_responsive.scss */
.jetmenu li > .megamenu ul li {
  width: 100%;
  padding: 4px 0;
}

/* line 154, ../sass/_mega_responsive.scss */
.jetmenu li > .megamenu ul li.title {
  margin: 0 0 8px;
  padding: 0 0 5px;
  font-size: 14px;
  border-bottom: solid 1px #666;
}

/* megamenu h5 */
/* line 162, ../sass/_mega_responsive.scss */
.jetmenu li > .megamenu h5 {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* megamenu links */
/* line 169, ../sass/_mega_responsive.scss */
.jetmenu li > .megamenu a {
  color: #999;
  text-decoration: none;
  font-size: 12px;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

/* line 178, ../sass/_mega_responsive.scss */
.jetmenu li > .megamenu a:hover {
  color: #dedede;
}

/* megamenu images */
/* line 183, ../sass/_mega_responsive.scss */
.jetmenu .megamenu img {
  width: 100%;
  -webkit-transition: border 0.3s linear;
  -moz-transition: border 0.3s linear;
  -o-transition: border 0.3s linear;
  transition: border 0.3s linear;
}

/* to fix right attribute on submenus (menu aligned to left (default)) */
/* line 194, ../sass/_mega_responsive.scss */
.jetmenu > li.fix-sub > .megamenu,
.jetmenu > li.fix-sub > .megamenu.half-width,
.jetmenu > li.fix-sub > .dropdown {
  right: 0;
}

/* MEGAMENU WIDTHS
**********************************************************/
/* line 200, ../sass/_mega_responsive.scss */
.jetmenu > li > .megamenu.half-width {
  width: 50%;
}

/* line 203, ../sass/_mega_responsive.scss */
.jetmenu > li > .megamenu.full-width {
  width: 100%;
  left: 0;
}

/* MEGAMENU FORM CONFIGURATION
**********************************************************/
/* line 210, ../sass/_mega_responsive.scss */
.jetmenu li > .megamenu form {
  width: 100%;
}

/* megamenu inputs */
/* line 216, ../sass/_mega_responsive.scss */
.jetmenu li > .megamenu form input[type="text"],
.jetmenu li > .megamenu form textarea {
  padding: 5px;
  color: #999;
  background: #444;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  border: solid 1px transparent;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border 0.3s linear;
  -moz-transition: border 0.3s linear;
  -o-transition: border 0.3s linear;
  transition: border 0.3s linear;
}

/* line 233, ../sass/_mega_responsive.scss */
.jetmenu li > .megamenu form input[type="text"]:focus,
.jetmenu li > .megamenu form textarea:focus {
  border-color: #e0e0e0;
}

/* line 236, ../sass/_mega_responsive.scss */
.jetmenu li > .megamenu form input[type="text"] {
  width: 100%;
  margin-top: 10px;
}

/* line 240, ../sass/_mega_responsive.scss */
.jetmenu li > .megamenu form textarea {
  width: 100%;
  margin-top: 10px;
}

/* line 244, ../sass/_mega_responsive.scss */
.jetmenu li > .megamenu form input[type="submit"] {
  width: 25%;
  float: right;
  height: 30px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  background: #444;
  color: #777;
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: background 0.3s linear;
  -moz-transition: background 0.3s linear;
  -o-transition: background 0.3s linear;
  transition: background 0.3s linear;
}

/* line 259, ../sass/_mega_responsive.scss */
.jetmenu li > .megamenu form input[type="submit"]:hover {
  background: #e0e0e0;
  color: #555;
}

/* MEGAMENU GRID SYSTEM
**********************************************************/
/* line 266, ../sass/_mega_responsive.scss */
.megamenu .row-nav {
  width: 100%;
  margin-top: 15px;
}

/* line 270, ../sass/_mega_responsive.scss */
.megamenu .row-nav:first-child {
  margin-top: 0;
}

/* line 274, ../sass/_mega_responsive.scss */
.megamenu .row-nav:before,
.megamenu .row-nav:after {
  display: table;
  content: "";
  line-height: 0;
}

/* line 279, ../sass/_mega_responsive.scss */
.megamenu .row-nav:after {
  clear: both;
}

/* line 287, ../sass/_mega_responsive.scss */
.megamenu .row-nav .col1,
.megamenu .row-nav .col2,
.megamenu .row-nav .col3,
.megamenu .row-nav .col4,
.megamenu .row-nav .col5,
.megamenu .row-nav .col6 {
  display: block;
  width: 100%;
  min-height: 20px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 297, ../sass/_mega_responsive.scss */
.megamenu .row-nav [class*="col"]:first-child {
  margin-left: 0;
}

/* line 300, ../sass/_mega_responsive.scss */
.megamenu .row-nav .col1 {
  width: 14.893617021276595%;
}

/* line 303, ../sass/_mega_responsive.scss */
.megamenu .row-nav .col2 {
  width: 31.914893617021278%;
}

/* line 306, ../sass/_mega_responsive.scss */
.megamenu .row-nav .col3 {
  width: 48.93617021276595%;
}

/* line 309, ../sass/_mega_responsive.scss */
.megamenu .row-nav .col4 {
  width: 65.95744680851064%;
}

/* line 312, ../sass/_mega_responsive.scss */
.megamenu .row-nav .col5 {
  width: 82.97872340425532%;
}

/* line 315, ../sass/_mega_responsive.scss */
.megamenu .row-nav .col6 {
  width: 100%;
}

/* RIGHT ALIGNMENT (MENU ITEM)
**********************************************************/
/* line 321, ../sass/_mega_responsive.scss */
.jetmenu > li.right {
  float: right;
}

/* line 326, ../sass/_mega_responsive.scss */
.jetmenu > li.right > .megamenu,
.jetmenu > li.right > .megamenu.half-width,
.jetmenu > li.right > .dropdown {
  right: 0;
}

/* to fix right attribute on submenus (menu aligned to right) */
/* line 331, ../sass/_mega_responsive.scss */
.jetmenu > li.jsright {
  float: right;
}

/* line 336, ../sass/_mega_responsive.scss */
.jetmenu > li.jsright.last > .megamenu,
.jetmenu > li.jsright.last > .megamenu.half-width,
.jetmenu > li.jsright.last > .dropdown {
  right: 0;
}

/* ICONS (FONT AWESOME)
**********************************************************/
/* line 342, ../sass/_mega_responsive.scss */
.jetmenu > li > a > i {
  line-height: 23px !important;
  margin-right: 6px;
  font-size: 18px;
  float: left;
}

/* COLLAPSIBLE MENU
**********************************************************/
/* line 351, ../sass/_mega_responsive.scss */
.jetmenu > li.showhide {
  display: none;
  width: 100%;
  height: 50px;
  cursor: pointer;
  color: #999;
  background: #333;
}

/* line 359, ../sass/_mega_responsive.scss */
.jetmenu > li.showhide span.title {
  margin: 15px 0 0 25px;
  font-family: 'Open Sans', sans-serif;
  float: left;
}

/* line 364, ../sass/_mega_responsive.scss */
.jetmenu > li.showhide span.icon {
  margin: 17px 20px;
  float: right;
}

/* line 368, ../sass/_mega_responsive.scss */
.jetmenu > li.showhide .icon em {
  margin-bottom: 3px;
  display: block;
  width: 20px;
  height: 2px;
  background: #999;
}

/* STYLES
**********************************************************/
/* RESPONSIVE LAYOUT
**********************************************************/
@media (max-width: 768px) {
  /* line 384, ../sass/_mega_responsive.scss */
  .jetmenu > li {
    display: block;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  /* line 391, ../sass/_mega_responsive.scss */
  .jetmenu > li > a {
    padding: 15px 25px;
  }

  /* line 394, ../sass/_mega_responsive.scss */
  .jetmenu a {
    width: 100%;
    background: #333;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  /* line 402, ../sass/_mega_responsive.scss */
  .jetmenu ul.dropdown,
  .jetmenu ul.dropdown li ul.dropdown {
    width: 100% !important;
    left: 0;
    position: static !important;
    border: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  /* line 411, ../sass/_mega_responsive.scss */
  .jetmenu ul.dropdown li {
    background: #fff !important;
  }

  /* line 414, ../sass/_mega_responsive.scss */
  .jetmenu ul.dropdown > li > a {
    padding-left: 40px !important;
  }

  /* line 417, ../sass/_mega_responsive.scss */
  .jetmenu > li > .megamenu {
    width: 100% !important;
    position: static;
    border-top: none;
  }

  /* line 422, ../sass/_mega_responsive.scss */
  .jetmenu > li > .megamenu .row-nav [class*="col"] {
    float: none;
    display: block;
    width: 100% !important;
    margin-left: 0;
    margin-top: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 432, ../sass/_mega_responsive.scss */
  .jetmenu > li > .megamenu .row-nav:first-child [class*="col"]:first-child {
    margin-top: 0;
  }

  /* line 435, ../sass/_mega_responsive.scss */
  .jetmenu > li > .megamenu .row-nav {
    margin-top: 0;
  }

  /* line 438, ../sass/_mega_responsive.scss */
  .jetmenu > li > ul.dropdown > li > a {
    padding-left: 40px !important;
  }

  /* line 439, ../sass/_mega_responsive.scss */
  .jetmenu > li > ul.dropdown > li > ul.dropdown > li > a {
    padding-left: 60px !important;
  }

  /* line 440, ../sass/_mega_responsive.scss */
  .jetmenu > li > ul.dropdown > li > ul.dropdown > li > ul.dropdown > li > a {
    padding-left: 80px !important;
  }
}
@media (min-width: 768px) and (max-width: 900px) {
  /* line 443, ../sass/_mega_responsive.scss */
  .jetmenu > li > .megamenu {
    width: 100% !important;
    left: 0 !important;
  }
}
/*
.jetmenu {
  .col2 {
    @include rowGrid(3,2%);
  }
}
*/
@media (min-width: 768px) {
  /* line 1, ../sass/_768.scss */
  section {
    padding: 2em;
  }

  /* line 5, ../sass/_768.scss */
  .button {
    margin-bottom: 0em;
  }

  /* line 9, ../sass/_768.scss */
  .logo {
    width: auto;
  }

  /* line 14, ../sass/_768.scss */
  .home
  .hero {
    background: white url("/resources/img/hero_bg.png") no-repeat right top;
  }
  /* line 15, ../sass/_768.scss */
  .home
  .hero h1 {
    font-size: 105px;
    text-align: left;
    float: none;
    margin: 0;
  }
  /* line 20, ../sass/_768.scss */
  .home
  .hero h1 span {
    font-size: 145px;
  }
  /* line 26, ../sass/_768.scss */
  .home
  .hero .content {
    background-position: left bottom;
  }
  /* line 28, ../sass/_768.scss */
  .home
  .hero .content .span5 {
    margin-left: 214px;
    text-align: left;
  }

  /* line 39, ../sass/_768.scss */
  .cta div {
    width: 22.75%;
  }
  /* line 326, ../sass/_mixins.scss */
  .cta div:nth-child(n) {
    margin-bottom: 3%;
    margin-right: 3%;
  }
  /* line 330, ../sass/_mixins.scss */
  .cta div:nth-child(4n) {
    margin-right: 0;
    margin-bottom: 0;
  }

  /* line 48, ../sass/_768.scss */
  .jetmenu > li {
    border-right: solid 1px black;
  }
  /* line 51, ../sass/_768.scss */
  .jetmenu > li:last-child {
    border: 0;
  }

  /* line 70, ../sass/_768.scss */
  .sidebar.mobile .links {
    width: 32%;
    border-bottom: 0;
    border-right: solid 1px #545454;
    padding-right: 1em;
  }
  /* line 326, ../sass/_mixins.scss */
  .sidebar.mobile .links:nth-child(n) {
    margin-bottom: 2%;
    margin-right: 2%;
  }
  /* line 330, ../sass/_mixins.scss */
  .sidebar.mobile .links:nth-child(3n) {
    margin-right: 0;
    margin-bottom: 0;
  }

  /* line 82, ../sass/_768.scss */
  .footer li {
    display: inline;
    margin-right: 1em;
  }
  /* line 85, ../sass/_768.scss */
  .footer li:last-child {
    margin-right: 0;
  }

  /* line 94, ../sass/_768.scss */
  .newsletter .info {
    width: 100%;
    height: 100%;
  }
  /* line 97, ../sass/_768.scss */
  .newsletter .info .contents {
    padding: 0 2em;
  }

  /* line 113, ../sass/_768.scss */
  .mainnav ul li a:hover {
    opacity: 0.5;
    filter: alpha(opacity=0.5);
  }
}
@media (min-width: 940px) {
  /* line 2, ../sass/_940.scss */
  section {
    padding: 2em 0;
  }

  /* line 7, ../sass/_940.scss */
  .sidebar {
    display: block;
    float: left;
    width: 25%;
  }
  /* line 11, ../sass/_940.scss */
  .sidebar.mobile {
    display: none;
  }

  /* line 18, ../sass/_940.scss */
  .main-content .content {
    float: left;
    width: 71%;
    margin-left: 4%;
  }

  /* line 25, ../sass/_940.scss */
  .crumbs {
    margin-left: 29% !important;
  }

  /* line 29, ../sass/_940.scss */
  .jetmenu ul.dropdown li a {
    width: 300px;
  }

  /* line 33, ../sass/_940.scss */
  .jetmenu li, .jetmenu ul.dropdown li {
    border-bottom: none;
  }

  /* line 39, ../sass/_940.scss */
  .newsletter {
    padding: 2em;
  }
  /* line 43, ../sass/_940.scss */
  .newsletter:hover .info {
    width: 235px;
    height: 235px;
    background: rgba(158, 43, 37, 0.87);
    display: table;
  }
  /* line 49, ../sass/_940.scss */
  .newsletter:hover .info .in {
    display: block;
  }
  /* line 54, ../sass/_940.scss */
  .newsletter .info {
    padding: 15px 40px;
    background: #9e2b25;
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: auto;
    -webkit-transition: width 0.2s, height 0.2s 0.2s, display 0.2s;
    -moz-transition: width 0.2s, height 0.2s 0.2s, display 0.2s;
    -ms-transition: width 0.2s, height 0.2s 0.2s, display 0.2s;
    -o-transition: width 0.2s, height 0.2s 0.2s, display 0.2s;
    transition: width 0.2s, height 0.2s 0.2s, display 0.2s;
  }
  /* line 67, ../sass/_940.scss */
  .newsletter .info .contents {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    padding: 0;
  }
  /* line 73, ../sass/_940.scss */
  .newsletter .info .in {
    display: none;
  }
  /* line 75, ../sass/_940.scss */
  .newsletter .info .in p {
    color: white;
  }
  /* line 78, ../sass/_940.scss */
  .newsletter .info .in .button {
    background: transparent;
    border: solid 2px white;
  }
  /* line 86, ../sass/_940.scss */
  .newsletter .info .title p {
    color: white;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    padding: 0;
  }

  /* line 99, ../sass/_940.scss */
  .jetmenu li, .jetmenu ul.dropdown li {
    border-bottom: 0;
  }

  /* line 104, ../sass/_940.scss */
  .jetmenu ul.dropdown li li:first-child {
    border-top: 0;
  }
  /* line 107, ../sass/_940.scss */
  .jetmenu ul.dropdown li li:last-child {
    border-bottom: 0;
  }
  /* line 110, ../sass/_940.scss */
  .jetmenu ul.dropdown li li a {
    background: #757575;
  }
}
/* @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
  @import "2x";
} */
