/* Fluid Grid
-----------------
*/
/* line 20, ../sass/_grid.scss */
body {
  width: 100%;
  float: left;
}

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* line 18, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 19, ../sass/_reset.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 20, ../sass/_reset.scss */
audio:not([controls]) {
  display: none;
}

/* line 21, ../sass/_reset.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
/* line 33, ../sass/_reset.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 35, ../sass/_reset.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* line 37, ../sass/_reset.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
/* =============================================================================
   Links
   ========================================================================== */
/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
/* line 54, ../sass/_reset.scss */
a:hover, a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/* line 61, ../sass/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 63, ../sass/_reset.scss */
b, strong {
  font-weight: bold;
}

/* line 65, ../sass/_reset.scss */
blockquote {
  margin: 1em 40px;
}

/* line 67, ../sass/_reset.scss */
dfn {
  font-style: italic;
}

/* line 69, ../sass/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 71, ../sass/_reset.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 73, ../sass/_reset.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* Redeclare monospace font family: h5bp.com/j */
/* line 76, ../sass/_reset.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
/* line 79, ../sass/_reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 81, ../sass/_reset.scss */
q {
  quotes: none;
}

/* line 82, ../sass/_reset.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 84, ../sass/_reset.scss */
small {
  font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
/* line 87, ../sass/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 88, ../sass/_reset.scss */
sup {
  top: -0.5em;
}

/* line 89, ../sass/_reset.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/* line 96, ../sass/_reset.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 97, ../sass/_reset.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 98, ../sass/_reset.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
/* line 110, ../sass/_reset.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/*
 * Correct overflow not hidden in IE9
 */
/* line 116, ../sass/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/* line 123, ../sass/_reset.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/* line 130, ../sass/_reset.scss */
form {
  margin: 0;
}

/* line 131, ../sass/_reset.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
/* line 134, ../sass/_reset.scss */
label {
  cursor: pointer;
}

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
/* line 141, ../sass/_reset.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
/* line 149, ../sass/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
/* line 155, ../sass/_reset.scss */
button, input {
  line-height: normal;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
/* line 163, ../sass/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 169, ../sass/_reset.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/*
 * Consistent box sizing and appearance
 */
/* line 175, ../sass/_reset.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 176, ../sass/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 177, ../sass/_reset.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
/* line 183, ../sass/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
/* line 190, ../sass/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Colors for form validity */
/* line 194, ../sass/_reset.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* =============================================================================
   Tables
   ========================================================================== */
/* line 201, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 202, ../sass/_reset.scss */
td {
  vertical-align: top;
}

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
/* line 210, ../sass/_reset.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

/* line 211, ../sass/_reset.scss */
.ir br {
  display: none;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
/* line 214, ../sass/_reset.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
/* line 217, ../sass/_reset.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
/* line 220, ../sass/_reset.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 223, ../sass/_reset.scss */
.invisible {
  visibility: hidden;
}

/* Contain floats: h5bp.com/q */
/* line 226, ../sass/_reset.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 227, ../sass/_reset.scss */
.clearfix:after {
  clear: both;
}

/* line 228, ../sass/_reset.scss */
.clearfix {
  *zoom: 1;
}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 236, ../sass/_reset.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 237, ../sass/_reset.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 238, ../sass/_reset.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 239, ../sass/_reset.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 240, ../sass/_reset.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 241, ../sass/_reset.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 242, ../sass/_reset.scss */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 243, ../sass/_reset.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 244, ../sass/_reset.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 246, ../sass/_reset.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 247, ../sass/_reset.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 1, ../sass/_smallest.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../sass/_smallest.scss */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 13, ../sass/_smallest.scss */
.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 21, ../sass/_smallest.scss */
.cf {
  *zoom: 1;
}

/* line 25, ../sass/_smallest.scss */
body {
  padding: 0;
}

/* RESPONSIVE IMAGES */
/* line 30, ../sass/_smallest.scss */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/* line 37, ../sass/_smallest.scss */
.lt-ie9 img {
  width: auto;
}

/* MAIN */
/* line 44, ../sass/_smallest.scss */
section {
  padding: 2em 1em;
}

/* line 49, ../sass/_smallest.scss */
.wrap {
  max-width: 940px;
  margin: 0 auto;
}
/* line 52, ../sass/_smallest.scss */
.wrap:before, .wrap:after {
  content: "";
  display: table;
}
/* line 57, ../sass/_smallest.scss */
.wrap:after {
  clear: both;
}

/* FOOTER */
/* BUTTON */
/* line 71, ../sass/_smallest.scss */
.interior .hero {
  height: 100%;
  padding: 8em;
  background-size: cover;
  background-position: center;
  width: 100%;
  border-bottom: 0;
}
/* line 79, ../sass/_smallest.scss */
.interior .main-content {
  background: none;
}

/* line 84, ../sass/_smallest.scss */
.hero {
  height: 360px;
  border-bottom: solid 7px #9e2b25;
  display: table;
  width: 100%;
  padding: 2em 0 0;
  background-size: auto 100%;
}
/* line 91, ../sass/_smallest.scss */
.hero h1 {
  color: #96794b;
  text-transform: uppercase;
  font-size: 80px;
  line-height: .78;
  font-weight: 800;
  font-family: "HelveticaNeue-CondensedBold";
  margin: 0;
  text-align: right;
  margin-bottom: .25em;
}
/* line 101, ../sass/_smallest.scss */
.hero h1 span {
  color: #9e2b25;
  font-size: 90px;
}
/* line 106, ../sass/_smallest.scss */
.hero .content {
  background-position: -90px bottom;
  background-repeat: no-repeat;
  vertical-align: middle;
  height: 100%;
}
/* line 111, ../sass/_smallest.scss */
.hero .content .span5 {
  padding: 1em;
  text-align: right;
}
/* line 116, ../sass/_smallest.scss */
.hero .content .span5 a {
  display: inline-block;
}
/* line 122, ../sass/_smallest.scss */
.hero .content p {
  color: #9e2b25;
  font-weight: 800;
  font-size: 1em;
  line-height: 1;
  margin-bottom: 1em;
}
/* line 130, ../sass/_smallest.scss */
.hero .content .button {
  float: right;
}

/* line 137, ../sass/_smallest.scss */
.main-content {
  background: url("/resources/img/cta_bg.png") repeat-x top;
  padding-bottom: 4em;
}

/* line 142, ../sass/_smallest.scss */
.cta {
  padding: 3em 0;
}
/* line 144, ../sass/_smallest.scss */
.cta div {
  width: 49.5%;
  float: left;
}
/* line 326, ../sass/_mixins.scss */
.cta div:nth-child(n) {
  margin-bottom: 1%;
  margin-right: 1%;
}
/* line 330, ../sass/_mixins.scss */
.cta div:nth-child(2n) {
  margin-right: 0;
  margin-bottom: 0;
}
/* line 147, ../sass/_smallest.scss */
.cta div .button {
  padding: 10px 5px;
}

/* line 154, ../sass/_smallest.scss */
.footer {
  background: #c3b59d;
  text-align: center;
}
/* line 157, ../sass/_smallest.scss */
.footer ul {
  margin-bottom: 1em;
}
/* line 163, ../sass/_smallest.scss */
.footer p {
  font-size: 14px;
}

/* line 168, ../sass/_smallest.scss */
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
  background: #9e2b25;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* line 176, ../sass/_smallest.scss */
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  border-color: #9e2b25;
}

/* line 180, ../sass/_smallest.scss */
.nav-tabs {
  border-bottom: 7px solid #9e2b25;
  margin-bottom: 0;
}

/* line 186, ../sass/_smallest.scss */
.tab-content {
  min-height: 213px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
/* line 189, ../sass/_smallest.scss */
.tab-content .span4 {
  height: 220px;
}
/* line 192, ../sass/_smallest.scss */
.tab-content .span8 {
  padding: 1em;
}
/* line 194, ../sass/_smallest.scss */
.tab-content .span8 h3 {
  font-size: 18px;
  margin: 0 0 10px 0;
  line-height: 1;
}
/* line 199, ../sass/_smallest.scss */
.tab-content .span8 p {
  font-size: 12px;
  line-height: 1.3;
}
/* line 204, ../sass/_smallest.scss */
.tab-content .span8 .social ul {
  float: left;
  margin: 0;
}
/* line 207, ../sass/_smallest.scss */
.tab-content .span8 .social ul li {
  display: inline;
  padding: 10px;
  color: white;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 212, ../sass/_smallest.scss */
.tab-content .span8 .social ul li.fb {
  background: #9e9e9e;
}
/* line 214, ../sass/_smallest.scss */
.tab-content .span8 .social ul li.fb:hover {
  background: #6084b7;
}
/* line 218, ../sass/_smallest.scss */
.tab-content .span8 .social ul li.twitter {
  background: #cccccc;
}
/* line 220, ../sass/_smallest.scss */
.tab-content .span8 .social ul li.twitter:hover {
  background: #55acee;
}
/* line 224, ../sass/_smallest.scss */
.tab-content .span8 .social ul li a {
  color: white;
}
/* line 230, ../sass/_smallest.scss */
.tab-content .span8 .social .button {
  float: right;
  font-size: 12px;
}

/* line 238, ../sass/_smallest.scss */
.nav-tabs > li > a {
  background: #c3b59d;
  color: white;
  padding: 10px 10px;
  border-radius: 15px 15px 0 0;
}
/* line 243, ../sass/_smallest.scss */
.nav-tabs > li > a:hover {
  background: #9e2b25;
}

/* line 248, ../sass/_smallest.scss */
.button {
  margin-bottom: 1em;
}

/* line 252, ../sass/_smallest.scss */
.right {
  width: 50%;
  float: right;
  padding: 0 1em 0 0;
}

/* line 257, ../sass/_smallest.scss */
.logo {
  width: 43%;
  float: left;
}

/* line 264, ../sass/_smallest.scss */
#share .span4 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 272, ../sass/_smallest.scss */
.mainnav.scroll {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  filter: alpha(opacity=0.9);
}
/* line 277, ../sass/_smallest.scss */
.mainnav.scroll:hover {
  opacity: 1;
  filter: alpha(opacity=1);
}

/* line 282, ../sass/_smallest.scss */
.hero.scroll {
  margin-top: 60px;
}

/* line 286, ../sass/_smallest.scss */
.sidebar {
  display: none;
}
/* line 287, ../sass/_smallest.scss */
.sidebar.mobile {
  margin-top: 2em;
}
/* line 291, ../sass/_smallest.scss */
.sidebar p {
  font-size: 14px;
}
/* line 294, ../sass/_smallest.scss */
.sidebar.mobile {
  display: block;
}
/* line 296, ../sass/_smallest.scss */
.sidebar.mobile .links {
  width: 100%;
  float: left;
}
/* line 326, ../sass/_mixins.scss */
.sidebar.mobile .links:nth-child(n) {
  margin-bottom: 2%;
  margin-right: 2%;
}
/* line 330, ../sass/_mixins.scss */
.sidebar.mobile .links:nth-child(1n) {
  margin-right: 0;
  margin-bottom: 0;
}
/* line 300, ../sass/_smallest.scss */
.sidebar.mobile .links:last-child {
  border-right: 0;
}
/* line 306, ../sass/_smallest.scss */
.sidebar .links {
  margin-bottom: 1em;
  padding: 1em 0;
  border-bottom: solid 1px #545454;
}
/* line 310, ../sass/_smallest.scss */
.sidebar .links:last-child {
  border: 0;
}
/* line 314, ../sass/_smallest.scss */
.sidebar h3 {
  font-size: 25px;
  color: #545454;
  font-weight: 100;
  margin-top: 0;
}
/* line 321, ../sass/_smallest.scss */
.sidebar ul li {
  margin-bottom: 1em;
}
/* line 323, ../sass/_smallest.scss */
.sidebar ul li a {
  font-size: 12px;
  color: #9c9c9c;
  line-height: 1.1;
  font-weight: 800;
}
/* line 328, ../sass/_smallest.scss */
.sidebar ul li a:hover {
  color: #9e2b25;
}

/* line 336, ../sass/_smallest.scss */
.newsletter {
  background: url("/resources/img/newsletter_bg.jpg") no-repeat;
  background-size: cover;
  position: relative;
  height: 235px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 343, ../sass/_smallest.scss */
.newsletter .info {
  width: 235px;
  height: 235px;
  text-align: center;
  background: rgba(158, 43, 37, 0.87);
  display: table;
}
/* line 349, ../sass/_smallest.scss */
.newsletter .info .contents {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
/* line 354, ../sass/_smallest.scss */
.newsletter .info .in {
  display: block;
}
/* line 356, ../sass/_smallest.scss */
.newsletter .info .in p {
  color: white;
}
/* line 359, ../sass/_smallest.scss */
.newsletter .info .in .button {
  background: transparent;
  border: solid 2px white;
}
/* line 367, ../sass/_smallest.scss */
.newsletter .info .title p {
  color: white;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

/* line 379, ../sass/_smallest.scss */
.main-content .content {
  width: 100%;
}

/* line 385, ../sass/_smallest.scss */
.crumbs {
  margin-left: 0% !important;
}

/* line 389, ../sass/_smallest.scss */
.account {
  margin: 1em 0 0;
}

/* line 393, ../sass/_smallest.scss */
.jetmenu ul.dropdown li a {
  width: 100%;
}

/* line 398, ../sass/_smallest.scss */
.jetmenu li, .jetmenu ul.dropdown li {
  border-bottom: solid 1px #292929;
}

/* line 403, ../sass/_smallest.scss */
.jetmenu ul.dropdown li li:first-child {
  border-top: solid 1px #292929;
}
/* line 406, ../sass/_smallest.scss */
.jetmenu ul.dropdown li li:last-child {
  border-bottom: 0;
}
/* line 409, ../sass/_smallest.scss */
.jetmenu ul.dropdown li li a {
  background: #757575;
}

/* line 416, ../sass/_smallest.scss */
.hero .button {
  border: 0;
}
/* line 418, ../sass/_smallest.scss */
.hero .button:before {
  color: white;
}
/* line 421, ../sass/_smallest.scss */
.hero .button:hover {
  background: #AC3832;
  color: white;
}

/* line 430, ../sass/_smallest.scss */
.module .button {
  margin: 0;
}

/* line 438, ../sass/_smallest.scss */
.desc {
  display: none;
}

/* line 439, ../sass/_smallest.scss */
.dd-options {
  height: 200px;
}

/* line 444, ../sass/_smallest.scss */
.dd-container, .dd-select, .dd-options {
  width: 100% !important;
}

/* line 448, ../sass/_smallest.scss */
.state {
  padding: 1em 0;
}

@media (min-width: 0px) and (max-width: 768px) {
  /* line 454, ../sass/_smallest.scss */
  .jetmenu > li {
    float: left !important;
  }
}
/* line 1, ../sass/_768.scss */
section {
  padding: 2em;
}

/* line 5, ../sass/_768.scss */
.button {
  margin-bottom: 0em;
}

/* line 9, ../sass/_768.scss */
.logo {
  width: auto;
}

/* line 14, ../sass/_768.scss */
.home
.hero {
  background: white url("/resources/img/hero_bg.png") no-repeat right top;
}
/* line 15, ../sass/_768.scss */
.home
.hero h1 {
  font-size: 105px;
  text-align: left;
  float: none;
  margin: 0;
}
/* line 20, ../sass/_768.scss */
.home
.hero h1 span {
  font-size: 145px;
}
/* line 26, ../sass/_768.scss */
.home
.hero .content {
  background-position: left bottom;
}
/* line 28, ../sass/_768.scss */
.home
.hero .content .span5 {
  margin-left: 214px;
  text-align: left;
}

/* line 39, ../sass/_768.scss */
.cta div {
  width: 22.75%;
}
/* line 326, ../sass/_mixins.scss */
.cta div:nth-child(n) {
  margin-bottom: 3%;
  margin-right: 3%;
}
/* line 330, ../sass/_mixins.scss */
.cta div:nth-child(4n) {
  margin-right: 0;
  margin-bottom: 0;
}

/* line 48, ../sass/_768.scss */
.jetmenu > li {
  border-right: solid 1px black;
}
/* line 51, ../sass/_768.scss */
.jetmenu > li:last-child {
  border: 0;
}

/* line 70, ../sass/_768.scss */
.sidebar.mobile .links {
  width: 32%;
  border-bottom: 0;
  border-right: solid 1px #545454;
  padding-right: 1em;
}
/* line 326, ../sass/_mixins.scss */
.sidebar.mobile .links:nth-child(n) {
  margin-bottom: 2%;
  margin-right: 2%;
}
/* line 330, ../sass/_mixins.scss */
.sidebar.mobile .links:nth-child(3n) {
  margin-right: 0;
  margin-bottom: 0;
}

/* line 82, ../sass/_768.scss */
.footer li {
  display: inline;
  margin-right: 1em;
}
/* line 85, ../sass/_768.scss */
.footer li:last-child {
  margin-right: 0;
}

/* line 94, ../sass/_768.scss */
.newsletter .info {
  width: 100%;
  height: 100%;
}
/* line 97, ../sass/_768.scss */
.newsletter .info .contents {
  padding: 0 2em;
}

/* line 113, ../sass/_768.scss */
.mainnav ul li a:hover {
  opacity: 0.5;
  filter: alpha(opacity=0.5);
}

/* line 2, ../sass/_940.scss */
section {
  padding: 2em 0;
}

/* line 7, ../sass/_940.scss */
.sidebar {
  display: block;
  float: left;
  width: 25%;
}
/* line 11, ../sass/_940.scss */
.sidebar.mobile {
  display: none;
}

/* line 18, ../sass/_940.scss */
.main-content .content {
  float: left;
  width: 71%;
  margin-left: 4%;
}

/* line 25, ../sass/_940.scss */
.crumbs {
  margin-left: 29% !important;
}

/* line 29, ../sass/_940.scss */
.jetmenu ul.dropdown li a {
  width: 300px;
}

/* line 33, ../sass/_940.scss */
.jetmenu li, .jetmenu ul.dropdown li {
  border-bottom: none;
}

/* line 39, ../sass/_940.scss */
.newsletter {
  padding: 2em;
}
/* line 43, ../sass/_940.scss */
.newsletter:hover .info {
  width: 235px;
  height: 235px;
  background: rgba(158, 43, 37, 0.87);
  display: table;
}
/* line 49, ../sass/_940.scss */
.newsletter:hover .info .in {
  display: block;
}
/* line 54, ../sass/_940.scss */
.newsletter .info {
  padding: 15px 40px;
  background: #9e2b25;
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: auto;
  -webkit-transition: width 0.2s, height 0.2s 0.2s, display 0.2s;
  -moz-transition: width 0.2s, height 0.2s 0.2s, display 0.2s;
  -ms-transition: width 0.2s, height 0.2s 0.2s, display 0.2s;
  -o-transition: width 0.2s, height 0.2s 0.2s, display 0.2s;
  transition: width 0.2s, height 0.2s 0.2s, display 0.2s;
}
/* line 67, ../sass/_940.scss */
.newsletter .info .contents {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  padding: 0;
}
/* line 73, ../sass/_940.scss */
.newsletter .info .in {
  display: none;
}
/* line 75, ../sass/_940.scss */
.newsletter .info .in p {
  color: white;
}
/* line 78, ../sass/_940.scss */
.newsletter .info .in .button {
  background: transparent;
  border: solid 2px white;
}
/* line 86, ../sass/_940.scss */
.newsletter .info .title p {
  color: white;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

/* line 99, ../sass/_940.scss */
.jetmenu li, .jetmenu ul.dropdown li {
  border-bottom: 0;
}

/* line 104, ../sass/_940.scss */
.jetmenu ul.dropdown li li:first-child {
  border-top: 0;
}
/* line 107, ../sass/_940.scss */
.jetmenu ul.dropdown li li:last-child {
  border-bottom: 0;
}
/* line 110, ../sass/_940.scss */
.jetmenu ul.dropdown li li a {
  background: #757575;
}
